<a href="https://colab.research.google.com/github/AnLuu2506/AppleStore.Dataquest/blob/master/Compensation_Xu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from google.colab import auth
auth.authenticate_user()
import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)
import warnings
warnings.filterwarnings('ignore')

In [ ]:
wb=gc.open_by_url("https://docs.google.com/spreadsheets/d/1FWedlbrUFmgwJtOxHGTu91zsgSfMSEzBTfsvu_2VhbM")

In [ ]:
import pandas as pd
import numpy as np
import os
import datetime
import calendar

In [ ]:
  listofFrame=[]
  sheets = wb.worksheets()
  for ws in sheets:
    if ws.title == 'DATA_blend':
      rows=ws.get_all_values()
      df=pd.DataFrame.from_records(rows[1:],columns=rows[0])
      listofFrame.append(df)

In [ ]:
data=listofFrame[-1]
for i in range(2,len(listofFrame)+1):
  listofFrame[-i] = listofFrame[-i].reset_index(drop=True)
  data=data.append(listofFrame[-i])

In [ ]:
data = data[1:]

In [ ]:
data.head()

,No,Quarter,Month,Week,Team,PIC,Client,Account,AccountNumber,Bank,...,Damage,Content,Policy,PickWH,DeliverWH,TransferDate,ResponsibleWH,Region,Year,Time
1,1,3,9,37,SME,3008953 phạm thị phương trinh,2656891,,,,...,,NN đã trả 30k cho nv,Theo chính sách GHN,,,9/6/2022,,,2022,09/2022
2,2,3,9,37,VVIP,3015387 - Hoàng Ngọc Diệp,1155792,,,,...,,GHN đền bù cước phí giao lại đơn hàng GAKVHM43,Theo hợp đồng,,,9/6/2022,,,2022,09/2022
3,3,3,9,37,SME,3008953 phạm thị phương trinh,3253614,,,,...,,NN đã trả 30 000đ,Theo chính sách GHN,,,9/6/2022,,,2022,09/2022
4,4,3,9,37,VVIP,3004168 - Từ Nguyễn Hoàng Mai,3050381,,,,...,,"Đơn hàng bưu tá thu dư tiền của Người Nhận , k...",Theo chính sách GHN,,,9/6/2022,,,2022,09/2022
5,5,3,9,37,VVIP,2031646 - Huỳnh Thị Thanh Tuyền,1015913,,,,...,,"CB thu NN 30,000đ",Theo hợp đồng,,,9/6/2022,,,2022,09/2022

In [ ]:
data = data.reset_index(drop=True)

In [ ]:
data.head()

,No,Quarter,Month,Week,Team,PIC,Client,Account,AccountNumber,Bank,...,Damage,Content,Policy,PickWH,DeliverWH,TransferDate,ResponsibleWH,Region,Year,Time
0,1,3,9,37,SME,3008953 phạm thị phương trinh,2656891,,,,...,,NN đã trả 30k cho nv,Theo chính sách GHN,,,9/6/2022,,,2022,09/2022
1,2,3,9,37,VVIP,3015387 - Hoàng Ngọc Diệp,1155792,,,,...,,GHN đền bù cước phí giao lại đơn hàng GAKVHM43,Theo hợp đồng,,,9/6/2022,,,2022,09/2022
2,3,3,9,37,SME,3008953 phạm thị phương trinh,3253614,,,,...,,NN đã trả 30 000đ,Theo chính sách GHN,,,9/6/2022,,,2022,09/2022
3,4,3,9,37,VVIP,3004168 - Từ Nguyễn Hoàng Mai,3050381,,,,...,,"Đơn hàng bưu tá thu dư tiền của Người Nhận , k...",Theo chính sách GHN,,,9/6/2022,,,2022,09/2022
4,5,3,9,37,VVIP,2031646 - Huỳnh Thị Thanh Tuyền,1015913,,,,...,,"CB thu NN 30,000đ",Theo hợp đồng,,,9/6/2022,,,2022,09/2022

In [ ]:
data.columns

Index(['No', 'Quarter', 'Month', 'Week', 'Team', 'PIC', 'Client', 'Account',
       'AccountNumber', 'Bank', 'Branch', 'RequestType', 'CreateDate',
       'OrderCode', 'Reason', 'Link', 'Compensation', 'Fee', 'COD', 'Fine',
       'Leader', 'Claim', 'Manager', 'Price', 'Contract', 'DetailedReason',
       'Damage', 'Content', 'Policy', 'PickWH', 'DeliverWH', 'TransferDate',
       'ResponsibleWH', 'Region', 'Year', 'Time'],
      dtype='object')

In [ ]:
data.head()

,No,Quarter,Month,Week,Team,PIC,Client,Account,AccountNumber,Bank,...,Damage,Content,Policy,PickWH,DeliverWH,TransferDate,ResponsibleWH,Region,Year,Time
0,1,3,9,37,SME,3008953 phạm thị phương trinh,2656891,,,,...,,NN đã trả 30k cho nv,Theo chính sách GHN,,,9/6/2022,,,2022,09/2022
1,2,3,9,37,VVIP,3015387 - Hoàng Ngọc Diệp,1155792,,,,...,,GHN đền bù cước phí giao lại đơn hàng GAKVHM43,Theo hợp đồng,,,9/6/2022,,,2022,09/2022
2,3,3,9,37,SME,3008953 phạm thị phương trinh,3253614,,,,...,,NN đã trả 30 000đ,Theo chính sách GHN,,,9/6/2022,,,2022,09/2022
3,4,3,9,37,VVIP,3004168 - Từ Nguyễn Hoàng Mai,3050381,,,,...,,"Đơn hàng bưu tá thu dư tiền của Người Nhận , k...",Theo chính sách GHN,,,9/6/2022,,,2022,09/2022
4,5,3,9,37,VVIP,2031646 - Huỳnh Thị Thanh Tuyền,1015913,,,,...,,"CB thu NN 30,000đ",Theo hợp đồng,,,9/6/2022,,,2022,09/2022

In [ ]:
data.tail()

,No,Quarter,Month,Week,Team,PIC,Client,Account,AccountNumber,Bank,...,Damage,Content,Policy,PickWH,DeliverWH,TransferDate,ResponsibleWH,Region,Year,Time
868,869,3,9,38,VVIP,207074 - Lê Hoàng Quỳnh Nghi,3165593,,,,...,,CH060920220197,Ngoài quy trình,,,9/13/2022,,,2022,09/2022
869,870,3,9,38,VVIP,207074 - Lê Hoàng Quỳnh Nghi,3165593,,,,...,,CH060920220197,Ngoài quy trình,,,9/13/2022,,,2022,09/2022
870,871,3,9,38,VVIP,207074 - Lê Hoàng Quỳnh Nghi,2779762,,,,...,,CH060920220197,Ngoài quy trình,,,9/13/2022,,,2022,09/2022
871,872,3,9,38,VVIP,207074 - Lê Hoàng Quỳnh Nghi,2779762,,,,...,,CH060920220197,Ngoài quy trình,,,9/13/2022,,,2022,09/2022
872,873,3,9,38,VVIP,207074 - Lê Hoàng Quỳnh Nghi,2779762,,,,...,,CH060920220197,Ngoài quy trình,,,9/13/2022,,,2022,09/2022

In [ ]:
data.describe()

,No,Quarter,Month,Week,Team,PIC,Client,Account,AccountNumber,Bank,...,Damage,Content,Policy,PickWH,DeliverWH,TransferDate,ResponsibleWH,Region,Year,Time
count,873,873,873,873,873,873,873,873,873,873,...,873,873,873,873,873,873,873,873,873,873
unique,873,1,1,2,5,110,474,1,1,1,...,1,558,4,1,1,3,1,1,1,1
top,1,3,9,37,VVIP,207949 - Lê Thị Yến Quyên,3050381,,,,...,,đền bù đơn hàng thất lạc,Theo chính sách GHN,,,9/13/2022,,,2022,09/2022
freq,1,873,873,519,422,100,41,873,873,873,...,873,24,514,873,873,354,873,873,873,873

In [ ]:
#data.drop('Month',axis=1,inplace=True)

In [ ]:
data['TransferDate'].unique()

array(['9/6/2022', '9/9/2022', '9/13/2022'], dtype=object)

In [ ]:
len(data['TransferDate'])

873

In [ ]:
trans = data['TransferDate'][0]

In [ ]:
trans

'9/6/2022'

In [ ]:
a= []
b= []
data['TransferDate'].unique()
for i in range(0,len(data['TransferDate'])):
  #print(i)
  trans = data['TransferDate'][i]
  mon = int(data['Time'][i][:2])
  yea = int(data['Year'][i])
  try:
    if trans.month == mon: a.append(trans)
    elif trans.day == mon: 
      trans_re = datetime.datetime(trans.year,trans.day,trans.month)
      a.append(trans_re)    
  except:
    try:
      trans_rev = datetime.datetime(int(trans[-4:]),mon,int(trans[:2]))
      a.append(trans_rev)
    except:
      eom = datetime.datetime(yea,mon,calendar.monthrange(yea,mon)[1])
      a.append(eom)
      b.append(trans)

In [ ]:
data['Month']= a

In [ ]:
data['Month'].tail()

868   2022-09-30
869   2022-09-30
870   2022-09-30
871   2022-09-30
872   2022-09-30
Name: Month, dtype: datetime64[ns]

In [ ]:
columns = ['No', 'Quarter', 'Month', 'Week', 'Team', 'PIC', 'Client', 'Account',
            'AccountNumber', 'Bank', 'Branch', 'RequestType', 'CreateDate',
            'OrderCode', 'Reason', 'Link', 'Compensation', 'Fee', 'COD', 'Fine',
            'Leader', 'Claim', 'Manager', 'Price', 'Contract', 'DetailedReason',
            'Damage', 'Content', 'Policy', 'PickWH', 'DeliverWH', 'TransferDate',
            'ResponsibleWH', 'Region', 'Year', 'Time']
template = pd.DataFrame(columns=columns)

In [ ]:
full = template.append(data)

In [ ]:
full['Compensation'].tail(10)

863    134,000
864    250,000
865    200,000
866    267,000
867    134,000
868    290,000
869    228,000
870    170,000
871    200,000
872    170,000
Name: Compensation, dtype: object

In [ ]:
full['Fee'].tail(10)

863
864
865
866
867
868
869
870
871
872
Name: Fee, dtype: object

In [ ]:
full['COD'].tail(10)

863    134,000
864    250,000
865    200,000
866    300,000
867    134,000
868    290,000
869    228,000
870    170,000
871    200,000
872    170,000
Name: COD, dtype: object

In [ ]:
full['Price'].tail(10)

863    134,000
864    250,000
865    200,000
866    300,000
867    134,000
868    290,000
869    228,000
870    170,000
871    200,000
872    170,000
Name: Price, dtype: object

In [ ]:
full["Fee"] = full["Fee"].apply(lambda x: x.replace(",", ""))
full["Compensation"] = full["Compensation"].apply(lambda x: x.replace(",", ""))
full["COD"] = full["COD"].apply(lambda x: x.replace(",", ""))
full["Price"]= full["Price"].apply(lambda x: x.replace(",", ""))

In [ ]:
full['Compensation'].tail(10)

863    134000
864    250000
865    200000
866    267000
867    134000
868    290000
869    228000
870    170000
871    200000
872    170000
Name: Compensation, dtype: object

In [ ]:
full["Fee"] = full["Fee"].apply(lambda x: x.replace(" ", ""))
full["Compensation"] = full["Compensation"].apply(lambda x: x.replace(" ", ""))
full["COD"] = full["COD"].apply(lambda x: x.replace(" ", ""))
full["Price"]= full["Price"].apply(lambda x: x.replace(" ", ""))

In [ ]:
full_01 = full[['OrderCode','Compensation','Fee','COD','Price']]
full_01.tail(10)

    OrderCode Compensation Fee     COD   Price
863  GABMLRWE       134000      134000  134000
864  GABHX4G3       250000      250000  250000
865  GAB3EN7P       200000      200000  200000
866  GAB9CA6E       267000      300000  300000
867  GAPX8N9B       134000      134000  134000
868  GAPPR4BN       290000      290000  290000
869  GAPDRNQC       228000      228000  228000
870  GA37FQ4A       170000      170000  170000
871  GA3LFYRY       200000      200000  200000
872  GAB4KNY7       170000      170000  170000

In [ ]:
full[['OrderCode','Compensation','Fee','COD','Price']] = full[['OrderCode','Compensation','Fee','COD','Price']].apply(lambda x: x.str.strip()).replace('', np.nan)
full["Fee"].fillna(0,inplace=True)
full["Price"].fillna(0,inplace=True)
full["COD"].fillna(0,inplace=True)

In [ ]:
full["Fee"]=full["Fee"].values.astype('float')

In [ ]:
full["Compensation"]=full["Compensation"].values.astype('float')

In [ ]:
full["Compensation"].tail(10)

863    134000.0
864    250000.0
865    200000.0
866    267000.0
867    134000.0
868    290000.0
869    228000.0
870    170000.0
871    200000.0
872    170000.0
Name: Compensation, dtype: float64

In [ ]:
full["COD"]=full["COD"].astype('float')

In [ ]:
full["Price"]=full["Price"].values.astype('float')

In [ ]:
data_category_range = full['Time'].unique()
data_category_range = data_category_range.tolist()

In [ ]:
data_category_range

['09/2022']

In [ ]:
# os.mkdir("/content/drive/MyDrive/Test/Combine/"+'Compensation')

In [ ]:
full['Quarter'].replace({'Quý 01':'Quý 1', 'Quý 02':'Quý 2',4:'Quý 4'}, inplace=True)

In [ ]:
# for i, value in enumerate(data_category_range):
#   print(value[3:]+'-'+value[:2]+'-01')

In [ ]:
project_id = 'ghn-cxcscc'
!gcloud config set project {project_id}
!gsutil ls

Updated property [core/project].
gs://cs_compensation/
gs://cs_fine/
gs://cs_qc/
gs://cx_gtb_data/
gs://cx_gtc_data/
gs://cx_juno/
gs://cx_lazada/
gs://cx_sme_ng_dgdv/
gs://cx_vvip_data/

In [ ]:
bucket_name = 'cs_compensation'

In [ ]:
for i,value in enumerate(data_category_range):
    value_str = value[3:]+'-'+value[:2]+'-28'
    print(value_str)
    path_new="/content/drive/MyDrive/Buckets/Compensation_Coin/"+'Time='+value_str
    try:
      os.mkdir(path_new)
    except:
      pass
    full[full['Time'] == value].drop('Time',axis=1).to_csv(path_new+'/'+'data-00'+r'.csv',index=False,na_rep='N/A')
    !gsutil -m cp -r {path_new}* gs://{bucket_name}/

2022-09-28
Copying file:///content/drive/MyDrive/Buckets/Compensation_Coin/Time=2022-09-28/data-00.csv [Content-Type=text/csv]...
/ [1/1 files][391.8 KiB/391.8 KiB] 100% Done
Operation completed over 1 objects/391.8 KiB.

In [ ]:
c = set(a)
c

In [ ]:
value_str